# Name                    Spec   ExtNr  Cat Hier Dim OutUnit
EMIS_CH4_TOTAL            CH4   -1     -1   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN1          CH4    0      1   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN2          CH4    0      2   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN3          CH4    0      3   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN4          CH4    0      4   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN5          CH4    0      5   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN6          CH4    0      6   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN7          CH4    0      7   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN8          CH4    0      8   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN9          CH4    0      9   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN10         CH4    0     10   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN11         CH4    0     11   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN12         CH4    0     12   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN13         CH4    0     13   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN14         CH4    0     14   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN15         CH4    0     15   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN16         CH4    0     16   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN17         CH4    0     17   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN18         CH4    0     18   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN19         CH4    0     19   -1   2   molec/cm2/s
EMIS_CH4_TAG_AN20         CH4    0     20   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA1          CH4    0     21   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA2          CH4    0     22   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA3          CH4    0     23   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA4          CH4    0     24   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA5          CH4    0     25   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA6          CH4    0     26   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA7          CH4    0     27   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA8          CH4    0     28   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA9          CH4    0     29   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA10         CH4    0     30   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA11         CH4    0     31   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA12         CH4    0     32   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA13         CH4    0     33   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA14         CH4    0     34   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA15         CH4    0     35   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA16         CH4    0     36   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA17         CH4    0     37   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA18         CH4    0     38   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA19         CH4    0     39   -1   2   molec/cm2/s
EMIS_CH4_TAG_NA20         CH4    0     40   -1   2   molec/cm2/s
